.carousel {
  display: flex;
}

.carousel-item {
  flex-shrink: 0;
}

.carousel-item img {
  transition: transform 0.3s ease-in-out;
}

.carousel-item img:hover {
    transform: scale(1.1);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre lors du survol */
  }
  